// Artists general

.h3__artistes-article {
    margin-bottom: 0.3em;
}

// Artists section

.artistes__figure {
    margin: 1.9em;
    img {
        box-shadow: $article-box-shadow;
        padding: 0.5rem;
    }
}


.artistes__article {
    font-family: $font-raleway;
 //   color: $body-text-color;
    margin: 2em;
    p {
        margin-bottom: 1.5em;
    }
}


.artistes__section-container {
    @include grid-column-repeat(2, 220px, 2fr, 1rem, 4rem)
}

.span__artistes {
    font-weight: 500;
    font-style: italic;
}

.artistes__container {
    margin: 0 auto;
    max-width: 70rem;
}

// Artists grid and responsive grid 

.artistes__section-container {
    @include grid-column-repeat(2, 220px, 2fr, 4rem, 1rem);
    @media screen and (max-width: 850px) {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
      }
    @media screen and (max-width: 550px) {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
      }
  }






