.h2__artistes {
    display: flex;
    justify-content: center;
    margin: 2rem 3rem;
}

.artistes__figure {
    margin-left: 2em;
    margin-right: 1em;
}

.artistes__article {
    font-family: $font-raleway;
 //   color: $body-text-color;
    margin-left: 2em;
    margin-right: 1em;
}

.artistes__section-container {
    @include grid-column-repeat(auto-fit, 400px, 1fr, 4rem, 1rem)
}






