.blogMain {
    @include grid-column-repeat(auto-fit, 500px, 1fr, 1rem, 1rem);
    max-width: 100%;
    padding: 1rem;
    img{
        width: 100%;
        height: 50vh;
        object-fit: cover;
        padding: 0.5rem;
        box-shadow: $article-box-shadow;
         transition: 0.5s ease-in-out;
        }
    p{
        opacity: 0;
    }
    h1{
        @extend %extend-titleBlog;
        margin-left: 2rem;
        }
    }


.art:hover {
    img {
      width: 100%;
      height: 30vh;
      transform: scale(1.04);
      transition-delay: 500ms;
    }
    h1 {
        opacity: 0;
        transition: 0.4s ease; // fading transition when button appear
    }
    .blog_parag{
      width: 100%;
      height: 17vh;
      transition-delay: 250ms;
      opacity: 1;
      font-size: 1.3em;
      font-weight: bold;
      letter-spacing: $molot-letter-spacing;
      font-family: $font-raleway;
      text-transform: uppercase;
      color: #ffffff;
      background-color: rgb(194, 100, 100);
      padding: 1rem 1.6rem;
      border-radius: 0.2rem;
      }
    .parag-middle {
        font-size: 1.3em;
        font-weight: bold;
        letter-spacing: $molot-letter-spacing;
        font-family: $font-raleway;
        text-transform: uppercase;
        color: #ffffff;
        background-color: rgb(194, 100, 100);
        //opacity: 0;
        transition: 0.4s ease; // transition bouton
        transform: translate(-50%, -50%);
      }
}
  
