.h2__blog {
    display: flex;
    justify-content: center;
    margin: 2rem 3rem;
}
.blogMain {
    @include grid-column-repeat(auto-fit, 450px, 1fr, 1rem, 1rem);
    max-width: 100%;
    padding: 1rem;
    img{
        width: 100%;
        height: 50vh;
        object-fit: cover;
        padding: 0.5rem;
        box-shadow: 1px 2px 10px rgba(206, 206, 206, 0.445),
    -1px 0 10px rgba(206, 206, 206, 0.445);
         transition: 0.5s ease-in-out;
         &:hover{
            transform: scale(1.03);
            height: 25vh;
         }
    p{
        padding-bottom: 25vh;
    }
    }
    h1{
        @extend %extend-titleBlog;
        margin-left: 2rem;
    }
}