.mmap__responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map__responsive iframe {
  left: 0;
  top: 0;
  height: 40vw;
  width: 100%;
}

// OEUVRES-----------------------------------------

.oeuvres__section-container {
  margin: 4rem $margin-row-general;
}

.oeuvres__section__box {
  @include grid-column-autofit(12rem, 1fr, 6vw, 2rem);
  // Parameters: min, max (in minmax()), column gap, row gap
}
.oeuvre__h2 {
  margin: 1rem;
}
.oeuvres__section-article {
  aspect-ratio: 1 / 1.2;

  .oeuvres__section-article-figure-img {
    aspect-ratio: 1 / 1;
  }
}

// PARCOURS----------------------------------------- s

.parcours__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

// INMANQUABLE-----------------------------------------

.inmanquable__section-container {
    margin: 4rem $margin-row-general;
}
.inmanquable__section-box {
    @include grid-column-autofit(12rem, 1fr, 6vw, 2rem);
    // Parameters: min, max (in minmax()), column gap, row gap
  }