// .map__responsive {
//   overflow: hidden;
//   padding-bottom: 5%;
//   position: relative;
//   height: 0;
// }
// .map__responsive iframe {
//   left: 0;
//   top: 0;
//   height: 40vw;
//   width: 100%;
// }

.map {
  box-shadow: 0 4px 20px rgba(180, 177, 177, 0.795);
}

// GENRAL HOME STYLING ------------------------------------------------------------------------------------------------

// card text grid
.article-text-container {
  display: grid;
  justify-content: center;
  padding: 0.5rem 0;
  background-color: $articles-padding-background-color;
  h4 {
    text-align: center;
    color: rgb(194, 100, 100);
  }
  p {
    text-align: center;
  }
}

// OEUVRES------------------------------------------------------------------------------------------------

// .oeuvres__section__box {
//   column-count: 4;
// }

// .oeuvres__section__box {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: center;
//   column-gap: 4rem;
//   row-gap: 1rem;
//   .oeuvres__article {
//     flex-shrink: 0;
//     flex-grow: 0;
//     flex-basis: 210px;
//   }
// }

.oeuvres__global-container {
  margin: 2rem auto 10rem auto;
  max-width: 75rem; // limit container size (so article size), needed for margin inline auto to have grid container centered
  @media screen and (max-width: $home-media-bigger) {
    max-width: 55rem;
  }
  @media screen and (max-width: $home-media-medium) {
    max-width: 50rem;
  }
  @media screen and (max-width: $home-media-smaller) {
    max-width: 40rem;
  }

  .oeuvres__box-container {
    @include grid-column-repeat(4, $home-grid-min, 1fr, 3rem, 3rem) {
      margin-inline: 2rem;
    }
    @media screen and (max-width: $home-media-bigger) {
      grid-template-columns: repeat(3, minmax($home-grid-min, 1fr));
      column-gap: 3rem;
    }
    @media screen and (max-width: $home-media-medium) {
      grid-template-columns: repeat(2, minmax($home-grid-min, 1fr));
      column-gap: 2.5rem;
    }
    @media screen and (max-width: $home-media-smaller) {
      grid-template-columns: repeat(1, minmax($home-grid-min, 1fr));
    }
  }
}

.oeuvres__article {
  @include bgcolor-shadow-padding-radius;
}
figure {
  border-radius: 0.1rem;
}
.oeuvres__article-figure-img {
  aspect-ratio: 1 / 0.9;
  @media screen and (max-width: $home-media-medium) {
    aspect-ratio: 1 / 0.7;
  }
  @media screen and (max-width: $home-media-smaller) {
    aspect-ratio: 1 / 0.55;
  }
}

.oeuvre-img-five {
  object-position: 90% 50%;
}

// PARCOURS------------------------------------------------------------------------------------------------

.parcours__global-container {
  margin: 0 auto;
  max-width: 80rem;
}

.parcours__flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 4rem auto 10rem auto;
  row-gap: 3rem;
}
.parcours__article {
  @include bgcolor-shadow-padding-radius;
  margin: 0 2rem;
  display: grid;
  figure {
    z-index: 0; // to not have the background
  }
  > * {
    // stack txt & img, they all live in the same area so they stack on top of each other --------
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  p {
    margin: 1rem 0;
    font-size: 2rem;
    text-transform: uppercase;
    font-family: $font-molot;
    justify-self: start;
    align-self: center;
    color: #ece7dd;
    position: relative;
    width: 30rem;
    padding: 1rem 0 1rem 2rem;
    background: rgba(194, 100, 100, 0.726);
  }
  // p::before {
  //   content:"";
  //   position: absolute;
  //   background-color: rgba(0, 0, 0, 0.452);
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   width: 150%;
  //   height: 150%;
  //   border-radius: 0.2rem;
  // }
}

.parcours__article-figure {
  height: 25rem;
  max-width: 60rem;
  z-index: -1; // -1 to have image so animation not cover txt & navbar
}

// INMANQUABLE--------------------------------------------------------------------------------------------

// global "card" grid, sizing & media
.inmanquable__global-container {
  margin: 6rem auto;
  max-width: 75rem;

  @media screen and (max-width: $inmanquable-media-bigger) {
    max-width: 65rem;
  }
  @media screen and (max-width: $home-media-medium) {
    max-width: 50rem;
  }
}

.inmanquable__section-box {
  @include grid-column-repeat(4, $home-grid-min, 1fr, 3rem, 1rem) {
    margin-inline: 2rem;
  }
  @media screen and (max-width: $inmanquable-media-bigger) {
    grid-template-columns: repeat(2, minmax($home-grid-min, 1fr));
  }
  @media screen and (max-width: $home-media-medium) {
    grid-template-columns: repeat(1, minmax($home-grid-min, 1fr));
  }
  @media screen and (max-width: $home-media-smaller) {
    margin-inline: 2rem;
  }
}

.inmanquable__article {
  @include bgcolor-shadow-padding-radius;
}

.inmanquable__article-figure-img {
  aspect-ratio: 1.1 / 1;
  @media screen and (max-width: $inmanquable-media-bigger) {
    aspect-ratio: 1.5 / 0.8;
  }
  @media screen and (max-width: $home-media-medium) {
    aspect-ratio: 1.5 / 0.6;
  }
}

// GENERAL ANIMATIONS & HOVER--------------------------------------------------------------------------------------------
.article-text-container {
  opacity: 1;
  position: relative; // parent relative to anker the "absolute" children (.button-middle)
  h4 {
    transition: 1s ease; // text reappearing transition  when button fade out.
  }
  > p {
    transition: 1s ease;
  }
}

// animation central management -----------------
.article-hover-general:hover {
  img {
    transform: scale(1.1);
    transition-delay: 100ms;
  }
  .article-text-container {
    h4 {
      opacity: 0;
      transition: 0.4s ease; // fading transition when button appear
    }
    > p {
      opacity: 0;
      transition: 0.4s ease;
    }
  }
  .button-middle {
    transition-delay: 250ms;
    opacity: 1;
  }
}

// on article hover: image zoom -----------------
.figure-general {
  overflow: hidden; // hide img going off figure frame when zooming.
}
.img__general-style {
  transition: 0.7s ease-in-out;
}

// "voir plus" button styling -----------------
.button-middle {
  font-size: 1.3em;
  font-weight: bold;
  letter-spacing: $molot-letter-spacing;
  font-family: $font-raleway;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgb(194, 100, 100);
  padding: 1rem 8%;
  border-radius: 0.2rem;

  opacity: 0;
  transition: 0.4s ease; // transition bouton
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
