.mmap__responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map__responsive iframe {
  left: 0;
  top: 0;
  height: 40vw;
  width: 100%;
}

// .oeuvres-section__before-title::before {
//     content:"Test de titre";
// }

.oeuvres__section-container {
  margin: 4rem $margin-row-general;
}

.oeuvres__section__box {
  display: grid;
  grid-template-columns: repeat(auto-fit, 14rem);
  justify-content: center;
  column-gap: 5rem;
  row-gap: 3rem;
}

.oeuvres__section-article {
  aspect-ratio: 1 / 1.25;
}

.oeuvres__section-article-figure-img {
  aspect-ratio: 1 / 1;
}

.oeuvre__h2 {
  margin-inline: 1rem;
  grid-area: 1 / span 4;
}

@media screen and (max-width: 1530px) {
  .oeuvre__h2 {
    grid-area: 1 / span 3;
    grid-template-columns: repeat(auto-fit, 18rem);
  }
}
@media screen and (max-width: 1118px) {
    .oeuvre__h2 {
      grid-area: 1 / span 2;
    }
  }
  @media screen and (max-width: 700px) {
    .oeuvre__h2 {
      grid-area: 1 / span 1;
    }
  }
