footer {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: $footer-background-color;
    // box-shadow: 0px -3px 4px rgba(119, 111, 118, 0.493);
    align-items: center;
  }

  .footer__socialmedia {
    margin-left: 1em;
    margin-right: 1em;
    width: $social-media-size;
    height: auto;
  }