.footer_content {
  background-color: $navbar-footer-bg-color;
  color: $navbar-footer-font-color;
  margin: 0 auto;
  display: flex ;
  justify-content: space-evenly;
  padding: 50px 0 50px;
 font-family: $font-raleway;
  font-size: 20px;
  gap:50px;
a:hover{
    color:$body-text-color;
}
  .usefullink{
    ul{
      all: unset;
      li{
        a:hover{
          color:$body-text-color;
        }
      }
    }
  }
  img{
    width: 20px;
  }
  h4{
    margin-bottom: 20px;
  }
}

<<<<<<< HEAD
=======
  .footer__socialmedia {
    margin-left: 1em;
    margin-right: 1em;
    width: $social-media-size;
    height: auto;
  }

  .terms-of-use {
    margin-left: 1em;
    p:hover {
    color: $body-text-color;
    }
  }

  .copyright {
    margin-right: 1em;
  }
>>>>>>> 5ad7969e2945c4908d38c2cb2f6f9bf1687c7e31
