.footer_content {
  background-color: $navbar-footer-bg-color;
  color: $navbar-footer-font-color;
  margin: 0 auto;
  display: flex ;
  justify-content: space-evenly;
  padding: 50px 0 50px;
 font-family: $font-raleway;
  font-size: 20px;
  gap:50px;
a:hover{
    color:$body-text-color;
}
  .usefullink{
    ul{
      all: unset;
      li{
        a:hover{
          color:$body-text-color;
        }
      }
    }
  }
  img{
    width: 40px;
  }
  h4{
    font-size: 1.5rem;
    margin-bottom: 20px;
    font-weight: 900;
  }
}

