// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

/**
 * Set up a decent box model on the root element
 */
html {
  box-sizing: border-box;
}

/**
 * Make all elements from the DOM inherit from the parent box-sizing
 * Since `*` has a specificity of 0, it does not override the `html` value
 * making all elements inheriting from the root box-sizing value
 * See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
 */
*,
*::before,
*::after {
  box-sizing: inherit;
}

/**
 * Basic styles for links
 */
a {
  color: $brand-color;
  text-decoration: none;

  @include on-event {
    color: $text-color;
    text-decoration: underline;
  }
}

// ---------------------------------------------------------------------------

ul, li, p, h1, h2, h3, h4, img, figure, article, section, main, header, nav, footer, a, body, html {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  color: unset;
}

// ---------------------------------------------------------------------------

body {
  background-color: $background-color;
}

.img__general-style {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.h2__general {
  font-family: $font-molot;
  font-size: $h2-general-fontsize;
  letter-spacing: $molot-letter-spacing;letter-spacing: $molot-letter-spacing;
  text-transform: uppercase;
  position: relative;
  // border-bottom: 5px solid black;
  text-align: center;
  max-width: 25%;
  .h2__general::first-letter {
    font-weight: 900;
    font-size: 3rem;
    vertical-align: -0.4rem;
  }
}
.h2__general::before {
  content: "";
  position: absolute;
  background-color: black;
  left: 0;
  bottom: -0.5rem;
  width: 100%;
  height: 5px;
}




.h3__general {
  font-family: $font-molot;
  font-size: $h3-general-fontsize;
  letter-spacing: $molot-letter-spacing;
}

.h4__general-style {
  font-family: $font-raleway;
  font-size: 1.6em;

}
.p__general-style {
  font-family: $font-raleway;
  font-size: 1.3em;
}

a:link {
  text-decoration: none;
}


